.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{
color:#ffffff;background-color:#337764
}
.navbar-default{
background-color:#330033; border-color:#AB00AB
}
.navbar-default .navbar-brand{
color:#eee
}
.navbar-default .navbar-text{
color:#eee
}
.navbar-default .navbar-nav>li>a{
color:#eee
}



.nav .bs-sidebar {
  color:#002200
}


.h1,h1{
margin-top:60px;margin-bottom:10px
}

.h2,h2{
margin-top:40px;margin-bottom:10px
}
